{% extends "base.html" %}
{% block title %}Home Page{% endblock %}
{% block content %}
		<div class="content-wrap">
			<div class="content">
				{% if success %}
				<div class="row">
					<div
						class="alert alert-dismissable alert-success col-lg-5 col-lg-offset-1">
						<button type="button" class="close" data-dismiss="alert"
							aria-hidden="true">&times;</button>
						<strong>Awesome!</strong> {{success}}
					</div>
					<div class="col-lg-6"></div>
				</div>
				{% endif %} {% if error %}
				<div class="row">
					<div class="alert alert-dismissable alert-danger col-lg-5 col-lg-offset-1">
						<button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
						<strong>Error!</strong> {{error}}
					</div>
					<div class="col-lg-6"></div>
				</div>
				{% endif %} <br /> <br />
				<h1>Welcome, {{name}}!</h1>
				<p>Lot of Random content. asdf</p>
				<div
				  class="fb-like"
				  data-share="true"
				  data-width="450"
				  data-show-faces="true">
				</div>
			</div>
		</div>
{% endblock %}
</body>
</html>