<!DOCTYPE html>
<html>
<head>
<title>Home Page</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<!-- Bootstrap -->
{% load staticfiles %}
<link rel="shortcut icon" type="image/x-icon" href="{% static "img/favicon.ico"%}" />
<link href="{% static "css/bootstrap.min.css"%}" rel="stylesheet" media="screen">
<!-- Custom styles for this template -->
<link href="{% static "css/main.css"%}" rel="stylesheet" media="screen">
<link href="{% static "css/font-awesome.min.css"%}" rel="stylesheet" media="screen">
</head>
<body>
	<div id="fb-root"></div>
	<script>(function(d, s, id) {
	  var js, fjs = d.getElementsByTagName(s)[0];
	  if (d.getElementById(id)) return;
	  js = d.createElement(s); js.id = id;
	  js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&status=0&appId=851665504885759&version=v2.0";
	  fjs.parentNode.insertBefore(js, fjs);
	}(document, 'script', 'facebook-jssdk'));</script>
	
	<script>
	  window.fbAsyncInit = function() {
	    FB.init({
	      appId      : '851665504885759',
	      xfbml      : true,
	      version    : 'v2.2'
	    });
	  };
	
	  (function(d, s, id){
	     var js, fjs = d.getElementsByTagName(s)[0];
	     if (d.getElementById(id)) {return;}
	     js = d.createElement(s); js.id = id;
	     js.src = "//connect.facebook.net/en_US/sdk.js";
	     fjs.parentNode.insertBefore(js, fjs);
	   }(document, 'script', 'facebook-jssdk'));
	</script>
	<!-- Fixed navbar -->
	<div class="navbar navbar-default navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="/">MyApp</a>
			</div>
		</div>
	</div>

	{% if user.first_name %}
		<div class="container">
			<h1>Welcome, {{user.first_name}}!</h1>
			<p>Go to <a href="/home">Home Page</a></p>
		</div>
	{% else %}
		<div class="container">
			<h1>Hello, Anonymous!</h1>
			<h4>
				Login <a href="/signin">here</a>
			</h4>
		</div>
	{% endif %}
	<!-- JavaScript plugins (requires jQuery) -->
	<script src="http://code.jquery.com/jquery.js"></script>
	<!-- Include all compiled plugins (below), or include individual files as needed -->
	<script src="/static/js/bootstrap.min.js"></script>

	<!-- Enable responsive features in IE8 with Respond.js (https://github.com/scottjehl/Respond) -->
	<!-- <script src="js/respond.js"></script> -->
</body>
</html>